body { 
  margin: 0; 
}

/* Navigation Pane */

#navpaneTitle {
  text-align: center;
}

#navpaneList {
  list-style-type:circle;
}

.navpaneItem {
  color: blue;
  text-decoration: underline; 
  cursor: pointer;
}

.sidebar {
  text-align: left;
  width: window.innerWidth/4;
  height: window.innerHeight;
  float: left;
}

.active {
  color: green;
}

/* Canvas */

.display {
  float:right;
}